// bower:scss
// endbower
*{
  box-sizing:border-box;
}


body,html{
  height:100%;
  margin:0;
  border:0;
}
#kwadranim{
  display:block;
  width:100%;
  height:100%;
  // background-color:red;
  // border:1px solid black;
}